
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --main-bg:#111312;
    --nav-color:#d91f45;
    --text-color:#ffff;
    --text-seconadary:#9c9d;
    --font:"Poppins", sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-bg);
    height: 100vh;
    width: 100%;
    font-family:var(--font);
    color:var(--text-color)


}
.sidebar{
    width: 200px;
    height: 100%;

}

.sidebar .sidebar-nav ul{
    list-style: none;
    padding:0px;

}
.lis{
    list-style: none;
    margin-bottom: 20px;
    
}
.lis a{
   text-decoration: none;
   color:var(--text-seconadary);
}
.lis a.active{
    color:var(--nav-color);
    border-left:2px solid #d91f45;
}
.lis a:hover{
    color:var(--nav-color);
}
header nav ul{
    display:inline-flex;
    gap: 15px;
}
.input-search input{
    border:0px;
    background-color: transparent;
    color: aliceblue;

}